<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Concierto</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>

        <h1 th:text="${titulo}"></h1>
        <table class="table table-dark table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Artista</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Capacidad</th>
                    <th scope="col">Lugar</th>
                </tr>
            </thead>
            
        <tbody>
            <th:block th:each="user : ${conciertos}">
                <tr> <!<!-- table row -->
                    <td th:text="${user.getArtista.getNombre}"></td>
                    <td th:text="${user.getCosto}"></td>
                    <td th:text="${user.getFecha}"></td>
                    <td th:text="${user.getCapacidad}"></td>
                    <td th:text="${user.getLugar}"></td>
                    <td>
                        <a th:href="@{/editConcierto/{id} (id=${user.getArtista.getId})}">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{/delete/{id} (id=${user.getArtista.getId})}">Delete</a>
                    </td>
                </tr>
            </th:block>
        </tbody>

    </body>
</html>
